.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes brighten-title {
    from {
        color: rgb(0, 0, 0);
    }
    to {
        color: rgb(128, 128, 128);
    }
}

@keyframes brighten-small {
    from {
        color: rgb(0, 0, 0);
    }
    to {
        color: rgb(64, 64, 64);
    }
}

body {
    background-color: black;
}

h1 {
    font-size: 200pt;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0.01em;
    animation-name: brighten-title;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
}

p {
    font-size: 32pt;
    font-family: 'Times New Roman', Times, serif;
    animation-fill-mode: forwards;
    animation-name: brighten-small;
    animation-duration: 2.5s;
    animation-delay: 2.5s;
    color:rgb(0, 0, 0);
}