h1 {
    text-align: center;
}

body {
    background-color: yellow;
    font-family: sans-serif;
}

#run-script {
    text-decoration: none;
    color: blue;
}

#run-script:hover {
    background-color: lightgreen;
}

#output {
    font-family: monospace;
}