h1 {
    text-align: center;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

#run-script {
    text-decoration: none;
    color: lightblue;
}

#run-script:hover {
    background-color: green;
}

#output {
    font-family: monospace;
}