h1 {
    text-align: center;
}

body {
    background-color: yellow;
    font-family: sans-serif;
}

#runscript {
    text-decoration: none;
    color: blue;
}

#runscript:hover {
    background-color: lightgreen;
}