h1 {
    text-align: center;
    font-family: sans-serif;
}

#main-title {
    font-size: 56px;
}

#subtitle {
    text-align: center;
    font-family: sans-serif;
}

#header {
    color: red;
    background-color: skyblue;
    padding: 80px;
}

.happyfacebackground {
    background-image: url("../images/happyface.png");
    background-repeat: repeat-x;
}