body {
    font-family: 'Arial';
    max-width: 72rem;
    margin: auto;
    font-size: 1.5em;
    background-color: black;
    color: lightgray;
}

img {
    max-width: 48rem;
    text-align: center;
}

.centered-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    text-align: justify;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: lightgreen;
}

h2 {
    font-size: 3em;
    text-align: center;
    color: lightgreen;
}

h3 {
    text-align: center;
    font-size: 2em;
    color: lightgreen;
}

a {
    color: cyan;
}

code {
    color: pink;
}